a {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
    border: none;
}

body {
    font-family: "Poppins", serif;
    background-color: #fff;
    color: #22343d;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.logo-header {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-right: 237px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-link {
    line-height: 1.75;
    padding: 26px 0;
    display: block;
}

.current {
    font-weight: 600;
}
/* header */

.header-btn {
    border-radius: 4px;
    min-width: 105px;
    height: 42px;
    font-weight: 7
00;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    margin: 26px;
    gap: 21px;

}

.header-btn-in {
    border: 1px solid #bcd0e5;
    background-color: transparent;
    color: #173a56;
    padding: 9px 24px 9px 25px;
}

.header-btn-up {
    border: none;
    background-color: #02897a;
    color: #fff;
    padding: 9px 24px 9px 25px;
}
/* Hero */

.hero {
    padding-top: 25px;
    padding-bottom: 50px;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text-wrap {
    width: 420px;
}

.hero-title {
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 18px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.55556;
    margin-bottom: 45px;
}

.hero-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-btn {
    font-size: 16px;
    border: none;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    align-items: center;
}

.hero-btn-start {
    border-radius: 4px;
    min-width: 178px;
    height: 53px;
    background-color: #02897a;
    font-weight: 700;
    color: #fff;
}

.hero-btn-watch {
    min-width: 164px;
    height: 23px;
    text-decoration: underline;
    color: #02897a;
    font-weight: 600;
    background-color: transparent;

}

/* product */

.product {
    padding: 50px 0;
}

.product-title {
    font-size: 32px;
    text-align: center;
    max-width: 535px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.product-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.product-item {
    width: calc((100% - 90px) / 4);
}

.product-subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}

.product-text {
    line-height: 1.625;
}

.product-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    min-width: 175px;
    height: 53px;
    background-color: #02897a;
    border: none;
    margin: 0 auto;
    display: block;
}

/* managment */
.managment {
    padding: 50px 0;
}

.managment .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.managment-text-wrap {
    width: 486px;
}

.managment-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
    width: 224px;
}

.managment-title-part {
    font-weight: 700;
    font-size: 32px;
}

.managment-text {
    line-height: 1.625;
    margin-bottom: 30px;
}

.managment-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


.managment-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
}

.managment-desc {
    line-height: 1.625;
}
.managment-span{
font-weight: 700;
    font-size: 32px;
}
 /* customers */
 .customer{
    padding: 50px;
 }
.customer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.customer-text-wrap{
width: 450px;
}

.customer-title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 25px;
    width: 215px;
}

.customer-span {
    font-weight: 700;
    font-size: 32px;
    width: 303px;
}

.customer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    min-width: 437px;
    margin-bottom: 30px;
}

.customet-list{
    min-width: 437px;
}
.customer-item {
    margin-bottom: 25px;
}

.customer-subtext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
}

/* collaborative */
.collaborative {
    padding: 50px;
}

.collaborative-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.collaborative-text-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.collaborative-title {
    font-weight: 600;
    font-size: 16px;
    max-width: 215.3px;

}
.collaborative-span{
    font-size: 32px;
    min-width: 303.56px;
}

.collaborative-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
        max-width: 486px;
}
.collaborative-subtitle {
    margin-bottom: 12px;
}

.collaborative-subtext {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.625;
       padding-bottom: 25px;
}
/* Process / quick */
.quick{
padding: 100px;
max-width: 960px;
margin: 0 auto;
}
.quick-text-wrap{
    display: flex;
    flex-direction: column;
    max-width: 542px;
    justify-self: center;
    text-align: center;
    gap: 25px;
    margin-bottom: 40px;
}
.quick-list{
    margin-bottom: 50px;
}

.quick-conact-first,
.quick-conact-second{
    display: flex;
    justify-content: space-between;
}

.quick-item-dd,
.quick-item{
    display: flex;
    align-items: center; 
    margin-bottom: 25px;
}

.quick-subtext {
    padding-left: 20px;
    width: 281px;
}


.quick-conact-first > .quick-item-dd{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}
.quick-conact-second > .quick-item-dd{
    display: flex;
    flex-direction: row-reverse;
        align-items: center;
}
.quick-btn-container {
    display: flex;
   justify-content: center;
}

.quick-btn{
background-color: #02897a;
color: #fff;
border-radius: 4px;
    width: 216px;
    height: 53px;
   
}
/* contents */
.contents {
    padding: 50px;
}

.contents-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
   
    
}
.contents-container-list{
   
  
}
.contents-title {
    margin-bottom: 10px;
}

.content-text {}

.contents-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.contents-item {
border: 1px solid #dedede;
    border-radius: 8px;
    
}

.contents-img {
    margin-bottom: 24px;
}

.contents-subtext {
    max-width: 236px;
    margin-bottom: 12px;
}

.contents-subtitle {
    max-width: 296px;
    font-weight: 700;
        font-size: 24px;
        line-height: 1.66667;
}
     .contents-subtitle-green{
        max-width: 296px;
            font-weight: 700;
            font-size: 24px;
        line-height: 1.66667;
            color: #02897a;

     }  
  .contents-span{
    font-weight: 700
  } 
.contents-container-img{
    padding: 0px 0px 40px 24px;
}